<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Electricity Usage Optimizer</title>
	<link rel="stylesheet" href="{{url_for('static', path='bulma.min.css')}}">
</head>

<body>
		<header class="hero is-small is-link">
			<a class="hero-body" href="/">
				<div class="level is-justify-content-start">
					<img src="{{url_for('static', path='logo-electron.svg')}}" width="50px" alt="logo-electron" style="filter: invert(95%);">
					<p class="title">
						Electricity Usage Optimizer
					</p>	
				</div>
				<p class="subtitle">
					Build a Daily Optimization Plan for Your Use of Electricity!
				</p>
			</a>
		</header>
		<main class="section" id="main">
			<div class="container">
				<h1 class="title">The Electricity Usage Optimizer - save on your electricity bills by planning your consumption!</h1>
				<p class = "my-2">Charing a car, drying laundry, heating your home? With hourly-rates swinging fiercely, some planning on your upcoming consumption can save
					you a lot of money. The Electricity Usage Optimizer helps you to plan your electricity consumption thus saving you from the worst-case bills.
				</p>
				<p class="my-2">If you can plan and shift your electricity needs within in the next days, we will show you the best times to use the electricity -
					and when to definitely turn the costly gadgets off.
				</p>
				<a class="button is-link" href="planning">Show me the forecast!</a>
			</div>
		</main>
		<section class="section" id="why">
			<div class="container">
				<h2 class="title">You won't only save on your own bill. With your help, others will save too!</h2>
				<p class = "my-2">Cutting the total consumption during the peak hours <a href="https://www.hs.fi/talous/art-2000009051566.html">may have an extensive effect on the prices</a> (article in Finnish). When the electricity production is at its limits, every new unit of production costs more than the previous one. This increasing
					marginal cost phenomenon has an upside: it really is benefical to reduce peak-time consumption. Every unit of consumption saved during peak-hours drop the market price more than they would during off-peak. So by planning your consumption and dodging the peaks,
				you will save on your bills but your neighbor will save on theirs too. 
				</p>
				<img src="{{url_for('static', path='plug.jpeg')}}" alt="A plug">
			</div>
		</section>
		<section class="section" id="correlations">
			<div class="container">
				<h2 class="title">Predictions during unusual times?</h2>
				<p class = "my-2"> Simply put: yes. The current electricity prices may be at a level we are not used to see. But that does not make all correlations vanish. Routines in societies affect
					the total consumption: factories and industrial production run with their weekly routines. Temperature changes increase or decrease our demand for heating and 
					windy days boost the wind power production.
				</p>
				<p class = "my-2">
					So, there are still familiar and predictable components that give us useful insight on the coming days. And because the current prices can be a vast burden for households with considerable
					consumption and our society, these insights are now needed more than ever.
				</p>
				<a class="button is-link" href="planning">I am ready to do some planning!</a>
			</div>
		</section>
		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					<strong>Electricity Usage Optimizer</strong> by <a href="https://github.com/IDS-mini/electricity">IDS-mini</a>.
					The source code is licensed
					<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
					is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.<br/>
					This is our group project for the course Introduction to Data Science at University of Helsinki, Fall 2022.
				</p>
			</div>
		</footer>
	  <script src="{{url_for('static',path='index.js')}}"></script>
</body>
</html>
